# Node / Next.js web build files
website/.next/
website/node_modules_old/
website/tsconfig.tsbuildinfo
website/node_modules/

# Standard gitignore
.DS_Store
desktop.ini
*.swp
*.swo
.vscode/
.idea/
/target/
